{% extends "base.html" %}

{% block title %}Exercises{% endblock %}
{% block style %}<link rel="stylesheet" href="/site_media/css/exercise.css" type="text/css">{% endblock %}
{% block script %}<script src="/site_media/js/exercise.js"></script>{% endblock %}

{% block main %}
<div id="exercise_wall">
	<div id="create_new_exercise" class="exercise-card edit-view exercise-card-large">
		<div class="exercise-definition clearfix">
			<div class="exercise-data-block">
				<div class="exercise-title">
					<input type="text" placeholder="Exercise Title (required)" maxlength="72">
				</div>
				<div class="exercise-description">
					<textarea placeholder="Exercise Description"></textarea>
				</div>
				<div class="exercise-tags">
					<div class="tagcloud"></div>
					<textarea placeholder="Use commas to separate tags"></textarea>
				</div>
				<div class="exercise-instructions">
					<textarea placeholder="Instructions"></textarea>
				</div>
			</div>
			<div class="exercise-media-block">
				<div class="media-url-input">
					<input type="text" placeholder="Paste a URL here">
					<label>Image or video from the web</label>
				</div>
				<div class="media-upload-input">
					<div class="dropzone"><span>Drag files from your computer here to upload them</span></div>
				</div>
				<div class="media-list">
			
				</div>
			</div>
		</div>
		<div class="exercise-metacontrol-block clearfix">
			<div class="button-column">
				<button class="play-exercise-button">Play it now</button>
				<button class="delete-exercise-button">Delete</button>
			</div>
			<div class="save-status-block">
				Your exercise will save automatically.
			</div>
			<div class="minimize-exercise-block">
				<a href="">min</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}