{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Exercises{% endblock %}
{% block style %}<link rel="stylesheet" href="/site_media/css/exercise.css" type="text/css">{% endblock %}
{% block script %}
<script src="/site_media/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/js/exercise.js"></script>
<script src="/site_media/js/autosave.js"></script>
{% endblock %}

{% block main %}
<div id="exercise_wall">
	<div id="create_new_exercise" class="exercise-card edit-view exercise-card-large">
		<div class="exercise-definition clearfix">
			<div class="exercise-data-block">
				<div class="exercise-title">
					{{ form.title|attr:"autosave:true" }}
				</div>
				<div class="exercise-description">
					{{ form.description|attr:"autosave:true" }}
				</div>
				<div class="exercise-tags">
					<div class="tagcloud"></div>
					{{ form.tags|attr:"autosave:true"}}
				</div>
				<div class="exercise-instructions">
					{{ form.instructions|attr:"autosave:true" }}
				</div>
			</div>
			<div class="exercise-media-block">
				<div class="media-url-input">
					{{ form.media }}
				</div>
				<div class="media-upload-input">
					<div class="dropzone"><span>Drag files from your computer here to upload them</span></div>
				</div>
				<div class="media-list">
			
				</div>
			</div>
		</div>
		<div class="exercise-metacontrol-block clearfix">
			<div class="button-column">
				<button class="play-exercise-button btn btn-inverse btn-large">Play it now</button>
				<button class="delete-exercise-button btn btn-large">Delete</button>
			</div>
			<div class="save-status-block">
				Your exercise will save automatically.
			</div>
			<div class="minimize-exercise-block">
				<a class="minimizer" href=""></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
