{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Exercises{% endblock %}
{% block style %}<link rel="stylesheet" href="/site_media/css/exercise.css" type="text/css">{% endblock %}
{% block script %}
<script src="/site_media/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/js/exercise.js"></script>
<script src="/site_media/js/autosave.js"></script>
{% endblock %}

{% block create_exercise_button %}
<div id="create_new_exercise" class="exercise-card exercise-card-small ghost-button">
	<a id="create_new_exercise_button" href="">
		<img src="/site_media/img/create_exercise_icon.png"><br>
		<span>Create a new exercise</span>
	</a>
</div>
{% endblock %}

{% block main %}
<div id="exercise_wall">
	{% block create_exercise_form %}
	<div id="create_new_exercise" class="exercise-card edit-view exercise-card-large">
		<div class="exercise-definition clearfix">
			<div class="exercise-data-block">
				<div class="exercise-title">
					{{ form.title|attr:"autosave:true" }}
				</div>
				<div class="exercise-description">
					{{ form.description|attr:"autosave:true" }}
				</div>
				<div class="exercise-tags">
					<div class="tagcloud"><span class="tag"><a class="tag-close" href="">&nbsp;</a>Tag Content</span></div>
					{{ form.tags|attr:"autosave:true"}}
				</div>
				<div class="exercise-instructions">
					{{ form.instructions|attr:"autosave:true" }}
				</div>
			</div>
			<div class="exercise-media-block">
				<div class="media-url-input">
					{{ form.media }}
				</div>
				<div class="media-upload-input">
					<div class="dropzone"><span>Drag files from your computer here to upload them</span></div>
				</div>
				<div class="media-list">

				</div>
			</div>
		</div>
		<div class="exercise-metacontrol-block clearfix">
			<div class="button-column">
				<button class="play-exercise-button btn btn-inverse btn-large">Play it now</button>
				<button class="delete-exercise-button btn btn-large">Delete</button>
			</div>
			{% if 1 == 2 %}
			<div class="save-status-block">
				Your exercise will save automatically.
			</div>
			{% elif 1 == 1 %}
			<div class="save-status-block exercise-save-in-progress">
				Saving...
			</div>
			{% else %}
			<div class="save-status-block exercise-saved">
				Saved <br>at 00:00PM today
			</div>
			{% endif %}
			<div class="minimize-exercise-block">
				<a class="minimizer" href=""></a>
			</div>
		</div>
	</div>
	{% endblock %}
	
	{% block exercise_card_small %}
	<div id="exercise_001" class="exercise-card exercise-card-small">
		<h3>Exercise Title</h3>
		<div class="exercise-description">
			Lorem ipsum dolor sit amet.
		</div>
		<div class="tagcloud"><span class="tag">hello everyone</span><span class="tag">I'm a tag</span><span class="tag">use me</span><span class="tag">when</span><span class="tag">you need</span><span class="tag">organization</span></div>
	</div>
	{% endblock %}
	
	{% block exercise_card_large %}
		<div id="exercise_002" class="exercise-card exercise-card-large">
			<div class="exercise-definition clearfix">
				<div class="exercise-data-block">
					<div class="exercise-title">
						<h3>Exercise Title</h3>
					</div>
					<div class="exercise-description">
						Lorem ipsum dolor sit amet
					</div>
					<div class="exercise-tags">
						<div class="tagcloud">
							<span class="tag">hello everyone</span><span class="tag">I'm a tag</span><span class="tag">use me</span><span class="tag">when</span><span class="tag">you need</span><span class="tag">organization</span>
						</div>
					</div>
					<div class="exercise-instructions">
						<ol class="instruction-list">
							<li>Do this one thing</li>
							<li>Followed by another</li>
						</ol>
					</div>
				</div>
				<div class="exercise-media-block">
					<div class="media-url-input">
						{{ form.media }}
					</div>
					<div class="media-upload-input">
						<div class="dropzone"><span>Drag files from your computer here to upload them</span></div>
					</div>
					<div class="media-list">

					</div>
				</div>
			</div>
			<div class="exercise-metacontrol-block clearfix">
				<div class="button-column">
					<button class="play-exercise-button btn btn-inverse btn-large">Play it now</button>
					<button class="edit-exercise-button btn btn-large">Edit</button>
					<button class="copy-exercise-button btn btn-large">Create a copy</button>
					<button class="btn btn-large">Sparkline</button>
				</div>
				<div class="minimize-exercise-block">
					<a class="minimizer" href=""></a>
				</div>
			</div>
		</div>
	{% endblock %}
</div>
{% endblock %}
