body {
	margin: 0;
}

#masthead {
	background: #454545;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
	width: 600px;
	height: 80px;
	margin: 0 auto;
	position: fixed;
	left: 0;
	right: 0;
}

#masthead h1 {
	margin: 0;
	color: #fff;
	width: 240px;
	float: left;
}

#signed_in_user_box {
	float: right;
	background: #f33;
	width: 300px;
}

#primary_nav {
	clear: both;
}

#primary_nav ul {
	list-style: none;
	padding: 0;
}

#primary_nav ul li {
	display: inline-block;
	width: 150px;
}

div[role=main] {
	background: #ccf;
	height: 1300px;
	min-width: 1000px;
}