<!doctype html>
<html>
<head>
	<title>Practiceguide | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="/site_media/style.css" type="text/css">
	<script type="text/javascript" scr="/site_media/jquery.js"></script>
</head>
<body>
	<div id="masthead">
		<h1><a href="/">Practiceguide</a></h1>
		{% if user.is_authenticated %}
		<div id="signed_in_user_box">
		  {% load gravatar %}
			{% gravatar user.email 40 %} {{user.username}} <span class="expander"></span>
		</div>
		<nav id="primary_nav">
			<ul>
				<li><a href="/exercises/">Exercises</a></li>
				<li><a href="/practiceplans/">Practice Plans</a></li>
				<li><a href="/play/">Play Now!</a></li>
				<li><a href="/review/">Review</a></li>
			</ul>
		</nav>
		{% else %}
		
		{% endif %}
	</div>
	{% block main %} {% endblock %}
	<footer id="site_footer">
		<nav>
			<ul>
				<li>&copy;2012 Victor++</li>
				<li><a href="/terms/">Terms</a></li>
				<li><a href="/privacy/">Privacy</a></li>
				<li><a href="/about/">About Us</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>

