<!doctype html>
<html>
<head>
	<title>Practiceguide | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css" type="text/css">
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/site_media/css/style.css" type="text/css">
</head>
<body>
	<div id="masthead" class="{% block masthead_class %}{% endblock %}">
		<h1><a href="/">Practiceguide</a></h1>
		{% if user.is_authenticated %}
		<div id="signed_in_user_box">
		  {% load gravatar %}
		  {% gravatar user.email 40 %} {{user.first_name}} <span class="expander"></span>
		</div>
		<nav id="primary_nav">
			<ul>
				<li><a href="/exercises/">Exercises</a></li>
				<li><a href="/practiceplans/">Practice Plans</a></li>
				<li><a href="/play/">Play Now!</a></li>
				<li><a href="/review/">Review</a></li>
			</ul>
		</nav>
		{% else %}
		<div id="signed_in_user_box" class="no-signed-in-user">
			<a id="signin_link" href="/registration/login/">Sign in</a>
			<div id="signin_modal"></div>
		</div>
		{% endif %}
	</div>
	<div role="main">
	{% block main %} {% endblock %}
	</div>
	<footer id="site_footer">
		<nav>
			<ul>
				<li>&copy;2012 Victor++</li>
				<li><a href="/terms/">Terms</a></li>
				<li><a href="/privacy/">Privacy</a></li>
				<li><a href="/about/">About Us</a></li>
			</ul>
		</nav>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="site_media/js/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="site_media/js/script.js"></script>
	<script src="site_media/js/bootstrap.js"></script>
	{% block script %} {% endblock %}
</body>
</html>

