<!doctype html>
<html>
<head>
	<title>Practiceguide | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="/site_media/style.css" type="text/css">
	<script type="text/javascript" scr="/site_media/jquery.js"></script>
</head>
<body>
	<div id="masthead">
		<h1>Practiceguide</h1>
		{% if user.is_authenticated %}
		<div id="signed_in_user_box">
			<img src="">Victor B. <span class="expander"></span>
		</div>
		<nav id="primary_nav">
			<ul>
				<li>Exercises</li>
				<li>Practice Plans</li>
				<li>Play Now!</li>
				<li>Review</li>
			</ul>
		</nav>
		{% else %}
		
		{% endif %}
	</div>
	{% block main %} {% endblock %}
	<footer>
		<nav>
			<ul>
				<li>Terms</li>
				<li>Privacy</li>
				<li>About Us</li>
			</ul>
		</nav>
		{% if user.is_authenticated %}
		Welcome {{ user.username }}
		(<a href="/logout/">Logout</a>)
		{% else %}
		<a href="/login/">Login</a>|
		<a href="/register/">Register</a>
		{% endif %}
	</footer>
</body>
</html>
