{% extends "base.html" %}
{% block title %} Welcome to Practiceguide {% endblock %}

{% block main %}
	{% if user.username %}
		<p>Welcome back, {{ user.username }}</p>
		<a href="/logout/">Sign out. Now. :)</a><br>
	{% else %}
		<div class="row">
			<div id="cta" class="hero-unit">
				<h1>Practice with purpose.</h1>
				<p>Practiceguide is built to help you master your craft, according to the <a href="">guided practice principle</a>. By practicing meaningfully, and recording your results, you will see real improvement.</p>
				<form class="form-horizontal" action="/regiser/" method="post">{% csrf_token %}
					<fieldset>
						<legend></legend>
						<div class="control-group">
							<label class="control-label" for="first_name">First name</label>
							<div class="controls">
								<input type="text" id="first_name" name="first_name" class="" placeholder="First">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="last_name">Last name</label>
							<div class="controls">
								<input type="text" id="last_name" name="last_name" class="" placeholder="Last">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input type="text" id="email" name="email" class="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password1">Password</label>
							<div class="controls">
								<input type="password" id="password1" name="password1" class="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password2">Confirm your password</label>
							<div class="controls">
								<input type="password" id="password2" name="password2" class="">
							</div>
						</div>
						<div class="form-actions">
							<input type="submit" value="Start practicing for real" class="btn btn-primary btn-large">
							<button class="btn btn-large">Learn more</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}
