{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Welcome to Practiceguide {% endblock %}
{% block script %}<script src="site_media/js/homepage.js"></script>{% endblock %}
{% block main %}

{% if user.username %}
<p>Welcome back, {{ user.username }}</p>
<a href="/logout/">Sign out. Now. :)</a><br>
{% else %}
<div class="row">
	<div id="cta" class="hero-unit">
		<h1>Practice with purpose.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat sapien id nibh ultrices malesuada. Nulla sodales, nulla nec facilisis eleifend, felis dolor consectetur arcu, quis mollis metus dolor nec augue. Maecenas est nulla, commodo non dignissim ac, dapibus at diam. Quisque mi risus, fermentum ut dapibus eu, suscipit eu arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque ipsum sit amet orci porta in pretium lectus porttitor. Sed suscipit iaculis sollicitudin. Nulla porttitor venenatis dui, a feugiat odio suscipit sed. Donec odio quam, aliquam a condimentum nec, aliquam et neque.</p>
		{% crispy reg_form reg_form.helper %}
	</div>
</div>
	
{% endif %}
{% endblock %}
