//grayscale
@white: #fff;
@near-white: #fcfcfc;
@light-gray: #d5d5d5;
@lighter-gray: lighten( @light-gray, 10%);
@mid-gray: #666;
@dark-gray: #222;

@error: #fb0600;

@brand-green: #81b72e;

@card-background: @near-white;

@exercise-input-width: 300px;
@media-input-width: 420px;

@exercise-border: 1px solid @light-gray;

@exercise-rule: @exercise-border;

//border rounding for content
@border-radius: 11px;

@tag-border: 1px solid @mid-gray;
@tag-background: @light-gray;

.top-rounded-big {
	border-top-right-radius:			@border-radius;
	border-top-left-radius:				@border-radius;
	-webkit-border-top-right-radius:	@border-radius;
	-webkit-border-top-left-radius:		@border-radius;
	-moz-border-top-right-radius:		@border-radius;
	-moz-border-top-left-radius:		@border-radius;
}

.bottom-rounded-big {
	border-bottom-right-radius:			@border-radius;
	border-bottom-left-radius:			@border-radius;
	-webkit-border-bottom-right-radius:	@border-radius;
	-webkit-border-bottom-left-radius:	@border-radius;
	-moz-border-bottom-right-radius:	@border-radius;
	-moz-border-bottom-left-radius:		@border-radius;
}

.rounded-big {
	.top-rounded-big;
	.bottom-rounded-big;
}

.content-box {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#exercise_wall {
	padding: 4px;
}

.exercise-card {
	margin: 4px;
	width: 250px;
	.rounded-big;
	padding: 6px;
}

.ghost-button {
	border: 2px dashed @light-gray;
}

#create_new_exercise_button {
	display: block;
	height: 120px;
	text-align: center;
	padding-top: 12px;
}

#create_new_exercise_button img {
	margin-bottom: 12px;
}

#create_new_exercise_button span {
	font-size: 20px;
	color: @mid-gray;
}

.exercise-card-large {
	border: @exercise-border;
	width: 750px;
	background: @card-background;
}

.exercise-card-large {
	.exercise-title {
		font-size: 30px;
		color: @mid-gray;
		margin: 0 0 9px 0;
	}
	
	.exercise-description {
		font-size: 16px;
		margin: 0 0 9px 0;
	}
	
	.tagcloud {
		width: @exercise-input-width;
		min-height: 24px;
		margin: 0 0 9px 0;
		list-style: none;
		padding: 0;
		
		.tag {
			border: @tag-border;
			background: @tag-background;
			font-size: 15px;
			color: @mid-gray;
			padding: 0 5px 4px 5px;
			margin: 0 4px 4px 0;
			display: inline-block;
			
			.tag-close {
				display: inline-block;
				width: 12px;
				height: 12px;
				background: -312px 0 no-repeat url("../img/glyphicons-halflings.png");
				position: relative;
				top: 1px;
				left: -3px;
			}
		}
	}
}

.exercise-card-small {
	border: @exercise-border;
	width: 250px;
	background: @card-background;
	min-height: 80px;
	
	h3 {
		font-size: 20px;
		color: @mid-gray;
		border-bottom: @exercise-rule;
	}
	
	.tagcloud {
		margin: 6px 0;
		.tag {
			border: @tag-border;
			background: @tag-background;
			font-size: 13px;
			color: @mid-gray;
			padding: 1px 3px 2px 3px;
			margin: 0 2px 2px 0;
			display: inline-block;
		}
		
		.tag:last-child {
			margin-right: 0;
		}
	}
}



.exercise-data-block {
	float: left;
}

.exercise-media-block {
	float: right;
}

.edit-view {
	.exercise-title {
		position: relative;
	}
	
	.exercise-title input[type=text] {
		font-size: 24px;
		height: 40px;
		width: @exercise-input-width;
		line-height: 24px;
	}
	
	.exercise-description textarea {
		width: @exercise-input-width;
		height: 80px;
	}
	
	.exercise-tags {
		textarea {
			width: @exercise-input-width;
			height: 40px;
		}
		
		.tagcloud {
			width: @exercise-input-width;
			min-height: 24px;
			margin: 0 0 9px 0;
			list-style: none;
			padding: 0;
			
			.tag {
				border: @tag-border;
				background: @tag-background;
				font-size: 15px;
				color: @mid-gray;
				padding: 3px 5px 4px 5px;
				margin: 0 4px 4px 0;
				display: inline-block;
				position: relative;
				
				.close {
					position: absolute;
					width: 12px;
					height: 12px;
					background: -312px 0 url("../img/glyphicons-halflings.png");
					left: -16px;
				}
			}

			.tag:last-child {
				margin-right: 0;
			}
		}//tagcloud
	}//exercise-tags
	
	.exercise-instructions textarea {
		width: @exercise-input-width;
		height: 80px;
		margin-bottom: 0;
	}
	
	.media-url-input input[type=text] {
		width: @media-input-width;
		margin-bottom: 2px;
	}
	
	.media-url-input label {
		color: @mid-gray;
		font-size: 15px;
		margin-bottom: 9px;
	}

	input[error^="err:"][type="text"],
	textarea[error^="err:"] {
		border: 1px solid @error;
	}
	
	.error-message {
		background-color: @error;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		color: @near-white;
		position: relative;
		top: -9px;
		left: 8px;
		padding: 2px 6px;
		display: inline-block;
		max-width: @exercise-input-width - 20px;
	}
	
	.dropzone {
		width: @media-input-width - 34px;
		border: 2px dashed @light-gray;
		height: 50px;
		border-radius:			11px;
		-webkit-border-radius:	11px;
		-moz-border-radius:		11px;
		text-align: center;
		.content-box;
		padding: 20px;
		color: @light-gray;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 9px;
	}
	
	.media-list {
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0 0 9px 0;
			
			li {
				height: 80px;
				margin-bottom: 3px;
				background: @white;
				border: 1px solid @lighter-gray;
				div {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		
		.drag-handle {
			height: 76px;
			width: 24px;
			padding: 2px;
			background: content-box url("../img/touchtexture.png");	
			margin-right: 9px;
			float: left;
		}
		
		.media-thumbnail-block {
			width: 260px;
			height: 80px;
			margin-right: 9px;
			float: left;
		}
		
		.youtube-thumbnail-block {
			width: 120px;
			height: 72px;
			margin: 4px;
			background: @lighter-gray;
		}
		
		.media-item-control-block {
			float: right;
			text-align: right;
			padding-top: 26px;
			margin-right: 9px;
		}
		
		button:first-child {
			margin-right: 9px;
		}
	}
}//edit-view

.exercise-metacontrol-block {
	border-top: @exercise-rule;
	margin-top: 9px;
	padding-top: 9px;
	padding-bottom: 2px;
}

.minimizer {
	background: url("../img/close-icon.png");
	height: 44px;
	width: 44px;
	display: inline-block;
}

.exercise-metacontrol-block {
	.button-column {
		float: left;
		margin-right: 20px;
	}
	
	.save-status-block {
		float: left;
		font-size: 20px;
		color: @mid-gray;
		width: 200px;
		padding: 4px;
		margin-left: 80px;
		vertical-align: middle;
		min-height: 40px;
	}
	
	.exercise-save-in-progress {
		position: relative;
		color: lighten(@mid-gray, 30%);
	}
	
	.exercise-save-in-progress:before {
		content: url("../img/throbber40x40.gif");
		position: absolute;
		left: -44px;
		top: 0;
	}
	
	.exercise-saved {
		color: lighten(@mid-gray, 30%);
		font-size: 16px;
	}
	
	.exercise-saved:first-line {
		color: @brand-green;
		font-size: 20px;
	}
	
	.minimize-exercise-block {
		float: right;
	}
}
