@masthead-text: #ffffff;
@masthead-nav-link: #ffffff;

body {
	margin: 0;
}

#masthead {
	background: #454545;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
	width: 600px;
	height: 80px;
	margin: 0 auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	color: @masthead-text;
}

#masthead h1 {
	margin: 0;
	width: 240px;
	float: left;
}

#masthead a {
	color: @masthead-nav-link;
	text-decoration: none;
}

#signed_in_user_box {
	float: right;
	width: 240px;
}

#signed_in_user_box img {
	
}

#primary_nav {
	clear: both;
}

#primary_nav ul {
	list-style: none;
	padding: 0;
}

#primary_nav ul li {
	display: inline-block;
	width: 140px;
	text-align: center;
}

div[role=main] {
	min-height: 540px;
	min-width: 1000px;
	margin-top: 90px;
}

#cta {
	width: 700px;
	margin: 20px auto;
}

#enticement {
	margin-left: 160px;
}

#site_footer {
	margin-bottom: 80px;
}

#site_footer nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

#site_footer nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 3em;
	vertical-align: top;
}

#site_footer nav ul li:last {
	margin-right: 0;
}